/* body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
}

.container-fluid {
   max-width: 100% !important;
   height: auto;
}

.header-area {
    background-color: #113a56;
}

.navbar-brand h3{
  color: #ffb345;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 15px;
    color: #113a56;
    font-weight: 550;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffb345 !important;
}

.navbar-nav .nav-item .nav-link.active {
    color: #ffb345 !important;
} */